.main-auth{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(13, 16, 20, 0.452) 0%,
    rgba(21, 27, 31, 0.521) 100%
  );
  user-select: none;
  gap: 1.5rem;
  width: 100%;
}

.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}


/* .auth-container h1{
  font-size: 3vw;
}
 */
.auth-container h1,
.auth-container h3 {
  font-weight: 600;
  text-align: center;
  color: rgb(207, 207, 207);
}

.auth-selector {
  display: flex;
  gap: 1rem;
  width: 400px;
}

.auth-selector .title {
  cursor: pointer;
  border-bottom: 2px solid rgb(52, 191, 209);
  padding-bottom: 0.2rem;
}

.auth-selector .title.false {
  color: rgb(119, 119, 119);
  border-bottom: 2px solid gray;
  transition: 0.2s ease-in-out;
}

.auth-selector .title.false:hover {
  color: rgb(177, 177, 177);
  border-bottom: 2px solid rgb(168, 168, 168);
  transition: 0.2s ease-in-out;
}
