* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
}

.game-parent {
  margin: 0 auto;
  aspect-ratio: 16/9;
  background-color: rgb(180, 180, 180);
  width: 90%;
  max-width: 1280px;
  display: grid;
  grid-template-areas:
    "offers online"
    "chat chat";
  grid-template-rows: 70% 28%;
  grid-template-columns: 77% 21%;
  row-gap: 2%;
  column-gap: 2%;
  padding: 4% 1% 1% 1%;
}

.offers {
  grid-area: offers;
  background-color: rgb(73, 54, 25);
}

.online {
  grid-area: online;
  background-color: blue;
}

.chat {
  grid-area: chat;
  background-color: black;
}
