.inventory-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* background: linear-gradient(
    167deg,
    rgba(6, 7, 10, 0.904) 0%,
    rgb(4, 5, 7) 100%
  ); */
  background-color: rgba(22, 22, 22, 0.932);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  width: 900px;
  height: 550px;
  box-shadow: 0px 0px 25px 5px rgb(7, 9, 12);
}

.inventory-container hr {
  margin-bottom: 1rem;
}

.inventory-top-elements {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.inventory-top-elements .header {
  display: flex;
  gap: 2rem;
}

.inventory-top-elements .header button {
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 0.2rem 1rem;
  font-family: "Archivo Narrow";
  font-weight: 600;
  background: linear-gradient(
    180deg,
    rgb(255, 62, 62) 0%,
    rgb(219, 73, 73) 100%
  );
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inventory-top-elements .header button:hover {
  background: linear-gradient(
    0deg,
    rgb(255, 127, 127) 0%,
    rgb(219, 92, 92) 100%
  );
}

.inventory-top-elements .header button > svg {
  width: 1rem;
  height: 1rem;
}

.inventory-top-elements .close-btn {
  background: none;
  border: none;
  color: white;
}

.inventory-top-elements .close-btn > svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.inventory-container .filters {
  padding: 0rem 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inventory-container .filters h3 {
  margin-right: 1rem;
}

.radio-filter-wrapper {
  position: relative;
  width: 100px;

  > input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;

    &:hover + label {
      opacity: 0.8;
    }

    &:checked + label.rare {
      color: black;
      background-color: rgb(111, 255, 92);
    }
    &:checked + label.common {
      color: black;
      background-color: rgb(255, 255, 255);
    }
  }

  > label {
    text-align: center;
    display: block;
    border: 1px solid;
    padding: 0.2rem 1rem;
  }
}

.inventory-container .items-wrapper {
  overflow-y: auto;
  display: flex;
  gap: 1rem;
}
