.chat-container {
  grid-area: chat;
  background: linear-gradient(0deg, rgb(9, 11, 14) 0%, rgb(5, 8, 10) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Space Mono";
  font-weight: 700;
  /* box-shadow: rgba(27, 190, 255, 0.432) 0px 0px 15px; */
  user-select: text;
}

.chat-container .messages{
  padding: 0.3rem 0.7rem;
  overflow-y: auto;
}

.chat-container .messages .welcome-message{
  color: rgb(82, 177, 255);
  text-shadow: rgb(0, 140, 255) 0px 0px 10px;
}

.chat-container .messages .message{
  display: flex;
  align-items: center;
  margin-top: .2rem;
  font-size: 1rem;
  gap: .5rem;
}

.chat-container .messages .message p{
  color: rgb(219, 219, 219);
  /* color: rgb(0, 174, 255);
  text-shadow: rgb(16, 187, 255) 0px 0px 10px; */
}

/* .chat-container .messages .message span{
  color: rgb(27, 171, 255);
} */

.chat-container input {
  outline: none;
  border: none;
  background-color: rgba(5, 6, 7, 0.582);
  width: 100%;
  height: 1.5rem;
  font-size: 0.9rem;
  color: white;
  padding: .9rem .8rem;
  font-family: "Space Mono";
  transition: 0.3s ease-in-out;
  font-weight: 700;
}

.chat-container input::placeholder{
  color: rgba(128, 128, 128, 0.521);
}

/* .chat-container input:focus{
  background-color: rgba(5, 6, 7, 0.74);
  transition: 0.3s ease-in-out;
} */

.chat-container {
  /* box-shadow: 0px 7px 6px -5px rgba(48, 189, 255, 0.8); */
  /* border-bottom: 1px solid rgb(79, 176, 255); */
}

.chat-container .messages::-webkit-scrollbar {
  border: 1px solid rgb(36, 36, 36);
  width: 10px;
}

.chat-container .messages::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

.chat-container .messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(22, 28, 34);
}