.trading-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 750px;
    height: 450px;
    background-color: rgb(14, 14, 14);
    z-index: 9;
}