.game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(0deg, rgb(3, 6, 8) 0%, rgb(4, 6, 7) 100%);
  user-select: none;
  gap: 1.5rem;
  width: 100%;
  top: 0;
  left: 0;
}

.version {
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: "Space Mono";
}

.game-container .game-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
}

.game-container .profile-actions {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 1.3rem;
  padding: 1rem;
}

.game-container .profile-actions button {
  cursor: pointer;
  font-family: "Archivo Narrow";
  font-weight: 700;
  font-size: 0.9rem;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s ease-in-out;
}

.game-container .profile-actions button:hover {
  color: rgb(199, 229, 255);
  transition: 0.2s ease-in-out;
}

.game-content .game-wrapper h1 {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: rgba(255, 255, 255, 0.767) 0px 0px 7px;
}

.game-content .game-wrapper .buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-wrapper .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 15rem;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    rgb(63, 217, 255) 0%,
    rgb(28, 172, 255) 100%
  );
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.game-wrapper .buttons button:hover {
  background: linear-gradient(
    180deg,
    rgb(142, 232, 255) 0%,
    rgb(104, 200, 255) 100%
  );
}

.game-wrapper .buttons .shop-btn {
  background: linear-gradient(
    180deg,
    rgb(255, 252, 82) 0%,
    rgb(255, 232, 28) 100%
  );
}

.game-wrapper .buttons .shop-btn:hover {
  background: linear-gradient(
    180deg,
    rgb(243, 240, 88) 0%,
    rgb(255, 252, 65) 100%
  );
}

.game-container.true.slide-enter {
  transform: translateX(-150%);
}

.game-container.true.slide-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.game-container.slide-exit {
  transform: translateX(0%);
}

.game-container.slide-exit-active {
  transform: translateX(-150%);
  transition: transform 300ms ease-in-out;
}
